html {
  font-family: sans-serif;
  background-color: #eeeeee;
}

body {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  box-shadow: 0em -0em 0.75em #111111;
  border-radius: 0.5em;
}

h1 {
  padding: 0em;
  margin: 0em;
  margin-bottom: 0.5em;
  text-align: center;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  height: 2em;
  margin-bottom: 0.2em;
}

li {
  cursor: grab;
  line-height: 1.5;
}
